/** Add a comment at the beginning of your CSS styles with your name**/

/*****Jerry's Style*****/

h1 {
  color: purple;
  font-size: 42px;
  text-align: center;
  text-transform: capitalize;
  padding: 50px 0;
}

h4 {
  font-size: 22px;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-weight: lighter;
}

/******End Jerry's Style*****/
